<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <!-- security注解 -->
    <security:global-method-security
            pre-post-annotations="enabled" secured-annotations="enabled"
            jsr250-annotations="enabled" proxy-target-class="true" />
    <!-- 注解驱动 -->
    <mvc:annotation-driven />
    <!-- 组件扫描 context:exclude-filter是因为controller会先进行扫描装配，
        此时service还没有被事物注解加强 -->
    <context:component-scan base-package="app">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Service" />
    </context:component-scan>
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>
    <!-- 配置自定义拦截器 -->
    <mvc:interceptors>
        <!-- 会话无缓存 -->
        <bean class="org.springframework.web.servlet.mvc.WebContentInterceptor"
              p:cacheSeconds="0" />
    </mvc:interceptors>
</beans>